

body {
 /* すべて14px
------------------------------------------------------------*/
    font-size: 14px;
    font-size: 140%;
    font-size: 1.4em;
    font-size: 1.4rem;
}


h1 {
    font-size: 20px; /* そのまま20px */
    font-size: 200%; /* 親要素bodyの14pxを基準に200% =28px */
    font-size: 2em; /* 親要素bodyの14pxを基準に2倍 =28px */
    font-size: 2rem; /* rootの10pxを基準に2倍 =20px */
    margin:30px;
    text-align: center
}

div {
    font-size: 12px; /* そのまま12px */
    font-size: 120%; /* 親要素bodyの14pxを基準に120% =16.8px(約17px) */
    font-size: 1.2em; /* 親要素bodyの14pxを基準に1.2倍 =16.8px(約17px) */
    font-size: 1.2rem; /* rootの10pxを基準に1.2倍 =12px */
    }
    
    
div p {
    font-size: 15px; /* そのまま1px */
    font-size: 150%; /* 親要素divの17pxを基準に120% =20.4px(約20px) */
    font-size: 1.5em; /* 親要素divの17pxを基準に1.2倍 =20.4px(約20px) */
    font-size: 1.5rem; /* rootの10pxを基準に1.2倍 =12px */
    margin:10px;
    
}

h3{
   font-size: 15px;
   font-size: 150%
   font-size: 1.5em;
   font-size: 1.5rem;
}

.button-contact
{
    font-size: 20px; /* フォントサイズ */
    line-height: 0; /* 行の高さ */

    display: block; /* ブロック要素のように扱う */
    float: center; /* 要素を右寄せ */
    

    width: 20px; /* 幅 */
    height: 20px; /* 高さ */
    margin: 20px ; /* 要素の外側の余白 */
    padding: 10px; /* 要素の内側の余白 */

    text-align: center; /* テキストの中央寄せ */
     display: -webkit-flex;
     display:         flex;

    color: #4c4c4c; /* 文字色 */
    border: 2px solid #4c4c4c; /* ボーダー */
    -webkit-border-radius: 4px; /* 角丸 */
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.container div 
{
  width: 30%;

  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0px;
  text-align: center;
}


.container{
  display: -webkit-flex;
  display:         flex;
}

.container div {
  background-color: #D67F05;
  margin: 0 auto;
  
}

.button-contact
{
    margin: 0 auto;
　
  }
  


.container h3{
    color: #F1F5F2;
    background-color: #1F2327;
}


.main{
    background-image: url("../images/img_minatomirai.jpg");
    background-size:cover;
    background-position: center;
    width:100%;
    height:500px;
}

@media (max-width: 768px) {
.main{
    background-image: url("../images/img_minatomirai.jpg");
    background-size:cover;
    background-position: center;
    width:100%;
    height:250px;
}
}

@media (max-width: 768px){
#titles .container{
    
    flex-direction:column;
    margin:auto;
    height: 500px;
}
}

    
#contact
{
   
　　margin-top:  20;
  }


#titles .container{
    margin-bottom: 50px;
}



@media (max-width: 768px){
#titles .container div{
    
     margin-bottom:20px;
}
}


h3{
   padding-top: 10px;
   padding-bottom: 10px;
   
}

p{
    padding-top: 10%;
    padding-bottom: 10%
    
}